.title {
    background-image: url(Assets/bg.jpg);
    background-size: cover;
}
.background {
    background-image: url(Assets/background-dirt-minecraft-minimalistic-wallpaper-preview.jpg);
    color:white;
}
footer {

    color:white;
}
